html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --primary: #160f29;
  --secondary: #38aecc;
  --tertairy: #0090c1;
  --qaud: #046e8f;
  --qunit: #23ce6b;
  --text-primary: #d4d4d4;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar:horizontal,
::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-track {
  background: #141418;
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb {
  background: var(--qunit);
  border-radius: 3px;
}

.Line {
  width: 20%;
  margin: 1.5rem auto;
  background: var(--tertairy);
  border: none;
  height: 2px;
}

main {
  margin-bottom: 8px;
}

.bgDiv {
  background-image: url("/spring.jpg") !important;
  width: 100% !important;
  height: 500px;
}
