.MainContainer {
  margin-top: 4rem;
  width: 90%;
  margin: auto;
}

.Heading {
  text-align: center;
  border: none;
  padding-right: 15px;
  margin-bottom: 10px;
  font-family: "Staatliches", cursive !important;
}

.Lgfont {
  font-size: 4em !important;
}

.Mdfont {
  font-size: 48px !important;
}

.insideStyles {
  background: rgb(255, 255, 255);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 5px !important;
}

.card {
  padding: 2rem;
  width: fit-content !important;
  border: 1px solid var(--text-primary);
}

.root {
  min-width: 275;
  flex-grow: 1;
}
.bullet {
  display: inline-block;
  margin: 0px 2px;
  transform: scale(0.8);
}
.title {
  font-size: 14;
}
.pos {
  margin-bottom: 12;
}
.iconDiv {
  width: 100%;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .MainContainer {
    padding: 0.5rem;
    width: 100%;
    margin: 0px;
    padding-bottom: 0px;
  }

  .Lgfont {
    font-size: 2.5em !important;
  }

  .card {
    padding: 1.5rem;
    width: fit-content !important;
    border: 1px solid var(--text-primary);
  }
}
