.root {
  flex-grow: 1 !important;
}
.menuButton,
.titlemobile {
  margin-right: 8px !important;
  display: none !important;
}

.toolbar {
  align-items: flex-start !important;
  padding-top: 4px !important;
  padding-bottom: 0px !important;
  height: 100vh !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: 0px !important;
  display: flex !important;
  position: sticky !important;
}
.title,
.titlemobile {
  align-self: flex-end !important;
  width: fit-content !important;
  margin: auto 0px !important;
  font-family: "Staatliches", cursive !important;
}
.SecondaryActions {
  display: flex !important;
  padding-right: 24px !important;
}
.PrimaryAction {
  display: flex !important;
  padding-left: 24px !important;
}
.slider {
  flex-grow: 1 !important;
  height: calc(100vh - 58px) !important;
}

.GridCont {
  display: flex !important;
  flex-grow: 1 !important;
  height: 100% !important;
}

@media only screen and (max-width: 600px) {
  .menuButton,
  .titlemobile {
    display: inline-flex !important;
  }
  .title,
  .SecondaryActions {
    display: none !important;
  }
}