.section {
    padding: 70px 0;
}

.marginAuto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.container{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}